on:
  push:
    branches:
      - "*"

name: CI

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Lint
        run: uv run ruff check esmjax tests scripts

      - name: Check formatting
        run: uv run ruff format --check esmjax tests scripts

      - name: Type check
        run: uv run mypy esmjax tests

      - name: Run tests
        run: uv run pytest tests
